@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Result" enctype="multipart/form-data">
            <div class="form-horizontal">
                <div class="form-group">
                    <input type="file" name="file" id="file" class="form-control">
                </div>
                <div class="form-group">
                    <input type="submit" value="Upload" class="btn btn-default" />
                </div>
            </div>
        </form>
    </div>
</div>
