@model HowHappy_Web.ViewModels.ResultViewModel

<style>
    #cont {
        position: relative;
        margin-top: 30px;
        margin-left: 30px
    }

    .rect {
        position: absolute;
        border-color: yellow;
        border-style: solid;
    }

</style>
<div id="cont">
    <img src="@Model.ImagePath" />
    @foreach (var face in Model.Faces)
    {
        <div class="rect" style="left:@face.faceRectangle.left px; top:@face.faceRectangle.top px; width:@face.faceRectangle.width px; height:@face.faceRectangle.height px;"></div>
    }
</div>


