@ViewData["Result"]
<style>
    .crop {
        margin-top: 100px;
        max-height: 500px;
        background-color: yellow;
    }

    .crop img {
        width:100%;
        height:100%;
    }

    .rect {
        position: relative;
        top: -100px;
        opacity: 0.8;
        height: 50px;
        width: 50px;
        border-color: red;
        border-style: solid;
    }

</style>
<div class="crop">
    <img src="~/@ViewData["ImagePath"]" />
    <div class="rect">

    </div>
</div>


