@model HowHappy_Web.ViewModels.ResultViewModel

<style>
    #cont {
        position: relative;
        margin-top: 30px;
        margin-left: 30px
    }

    .rect {
        position: absolute;
        border-color: white;
        border-style: solid;
        border-width: 5px;
    }

    .rank {
        position: absolute;
        color: white;
        font-size: 3rem;
        width: 250px;
    }


</style>
<div  id="cont">
    <img  src="@Model.ImagePath" />
    @foreach (var face in Model.Faces)
    {
        <div class="rect" style="left:@(string.Format(face.Face.faceRectangle.left + "px;")); top:@(string.Format(face.Face.faceRectangle.top + "px;")); width:@(string.Format(face.Face.faceRectangle.width + "px;")); height:@(string.Format(face.Face.faceRectangle.height + "px;"));"></div>
        <div class="rank" style="left:@(string.Format(face.Face.faceRectangle.left + "px;")); top:@(string.Format((face.Face.faceRectangle.top - 30) + "px;"));">#@face.Position @face.Comment</div>
    }
</div>


